.container{
  width: 100px;
  height: 100px;
  color: silver;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper {
  background-color: transparent;
}
.black {
  background-color: #000;
}

.white {
  background-color: #fff; 
}